/* FooterMod.css */

/* Style for the footer */
.rodape {
    background-color: #333; /* Footer background color */
    color: white; /* Text color */
    padding: 10px 0; /* Add padding to the top and bottom */
    text-align: center; /* Center-align text */
}

    /* Style for the text in the footer */
    .rodape p {
        font-size: 14px; /* Adjust font size */
        margin: 0; /* Remove any default margin */
    }
